<footer class="border-t border-gray-300 mt-8">
  <div class="container mx-auto py-8 px-6 flex justify-between">
    <div>
      <h2 class="text-xl font-bold text-gray-800">
        Cooking Contest 2024 Edition
      </h2>
      <div class="flex space-x-4 mt-4 pt-12">
        <a href="#"
          ><img
            src="./assets/images/facebook.png"
            alt="Facebook"
            class="w-6 h-6"
        /></a>
        <a href="#"
          ><img
            src="./assets/images//linkedin.png"
            alt="LinkedIn"
            class="w-6 h-6"
        /></a>
        <a href="#"
          ><img src="./assets/images/youtube.png" alt="YouTube" class="w-6 h-6"
        /></a>
        <a href="#"
          ><img
            src="./assets/images/instagram.png"
            alt="Instagram"
            class="w-6 h-6"
        /></a>
      </div>
    </div>
    <div class="flex space-x-16">
      <div>
        <h3 class="font-bold text-gray-800">Recipes</h3>
        <ul class="mt-2 space-y-2">
          <li>Cajun seafood pasta</li>
          <li>Cedar planked salmon</li>
          <li>Poulet au vinagre</li>
        </ul>
      </div>
      <div>
        <h3 class="font-bold text-gray-800">Contestants</h3>
        <ul class="mt-2 space-y-2">
          <li>John Cooper</li>
          <li>Marta Alonso</li>
          <li>Mary Ann Stones</li>
        </ul>
      </div>
      <div>
        <h3 class="font-bold text-gray-800">Contest Editions</h3>
        <ul class="mt-2 space-y-2">
          <li>2024</li>
          <li>2023</li>
          <li>2022</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
